<div class="card-block">
    <ul class="timeline">
        <li>
            <div class="timeline-badge success"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Ознакомьтесь с планом исследования</h4>
                    <p><small class="text-muted"><i class="fa fa-info"></i> Стартовая страница</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Вы всегда можете вернуться на эту страницу нажав на сообщение с текстом панель управления</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-info"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Ознакомьтесь с алгоритмом проведения исселодования</h4>
                </div>
                <div class="timeline-body">
                    <p>Прежде чем приступить к внесению данных ознакомьтесь с алгоритмом проведения внутреннего мониторинга финансовой устойчивости сельхотоваропроизводителей</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge warning"><i class="fa fa-file-o"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Заполните данные бухгалтерсокго баланса</h4>
                </div>
                <div class="timeline-body">
                    <p>Для заполненеия данной информации вам потребутеся перейти на страницу Баланс, где ввести данные учета по первой и второй формам бухгалтерсокй отчетности</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title"></h4>
                </div>
                <div class="timeline-body">
                    <p><small class="text-muted"><i class="fa fa-info"></i> Дополнительно</small>
                    <p>По завершению ввода данных не забудьте нажать клавишу "Сохранить", для сохранения изменений в базу данных</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-gears"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Перейдите на страницу "Анализ" для проведения анализа данных бухгалтерской отчетности на финансовую устойчивость</h4>
                </div>
                <div class="timeline-body">
                    <p>На основе расчитанных коэффициентов система укажет на текущее состояние финансовой устойчивости и коэффициенты по которым было сделано данное предположение</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Возможные проблемы</h4>
                </div>
                <div class="timeline-body">
                    <p><small class="text-muted"><i class="fa fa-info"></i> NaN</small>
                    <p>Если среди значений коэффициентов вам встречается значение "NaN", то убедитесь, что на странице "Баланс" отсутствуют незаполненные строки. Если проблема не исчезла, то напишите нам в службу поддержки</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Интерпретация результатов исследования</h4>
                </div>
                <div class="timeline-body">
                    <p>Заключительный этап</p>
                </div>
            </div>
        </li>
    </ul>
</div>
