<div [@routerTransition]>
    <h2 class="text-muted">Электронный информационно-аналитический ресурс по оценке финансовой устойчивости сельскохозяйственных производителей Cтавропольского края</h2>
<!--    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>-->
    <!--<div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>-->
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <!-- Yandex.Metrika informer -->
    <a href="https://metrika.yandex.ru/stat/?id=46615974&amp;from=informer"
       target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/46615974/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
                                           style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" /></a>
    <!-- /Yandex.Metrika informer -->

    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Алгоритм использования сервиса
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <!--<div class="col-lg-4">-->
            <!--<div class="card card-default">-->
                <!--<div class="card-header">-->
                    <!--<i class="fa fa-bell fa-fw"></i> Notifications card-->
                <!--</div>-->
                <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
                <!--<app-notification></app-notification>-->
                <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card &ndash;&gt;-->

            <!--<app-chat></app-chat>-->
            <!--&lt;!&ndash; /.card .chat-card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
    </div>
</div>
