<div [@routerTransition]>
  <app-page-header [heading]="'Показатели финансовой устойчивости'" [icon]="'fa-sheat'"></app-page-header>
  <br>
  <div class="card">
    <div class="card-header">Анализ финансовой устойчивости</div>
    <div class="card-block">
      <table class="card-block table table-hover">
        <thead>
        <tr>
          <th>Номер</th>
          <th>Наименование показателя</th>
          <th>Обозначение</th>
          <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr >
          <th  scope="row">3</th>
          <td  colspan="2">Larry the Bird</td>
          <td >@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-buttons></app-buttons>
</div>
