<div [@routerTransition]>
  <app-header-c [heading]="'Показатели финансовой устойчивости'"></app-header-c>
  <app-page-header [heading]="''" [icon]="'fa-sheat'"></app-page-header>
  <br>
  <div class="card">
    <div class="card-header">Анализ финансовой устойчивости</div>
    <div class="card-block">
      <ngb-alert [type]="'info'" *ngIf="closed" (close)="closeAlert()">Чем выше уровень первого, четвертого и пятого показателей и чем ниже уровень второго, третьего и шестого показателей, тем устойчивее ФСП. </ngb-alert>
      <table class="card-block table table-hover table-responsive">
        <thead>
        <tr>
          <th>Номер</th>
          <th>Наименование показателя</th>
          <th>Обозначение</th>
          <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let coefficient of coefficients">
          <th scope="row">{{coefficient.id}}</th>
          <td>{{ coefficient.name }}</td>
          <td>{{ coefficient.definition }}</td>
          <td>{{ coefficient.data | number }}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
  <app-buttons></app-buttons>
</div>
